body {
  background-color: #fefeff;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(117, 117, 117);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(23, 32, 150);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


.HeadBar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 1px solid black;
  text-align: center;
  padding-top: 500px;
  padding-bottom: 500px;
  margin: 10px;
}


.daftarMenu {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 100px;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

.menu {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: auto;
  padding: 10px;
  height: auto;
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(234, 236, 236);
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.gambarMenu {
  border: 1px solid rgb(0, 0, 0);
  height: auto;
  margin: 10px;
}

.gambar {
  border-radius: 10px;
  width: 15em;
  border: 1px solid #ddd;
  padding: 5px;
  height: auto;
}

.namaMenu {
  text-align: center;
}

.gambarContainer {
  /* border: 1px solid orange; */
  text-align: center;
}

a {
  text-decoration: none;
}